.prva{
    color: white;
    background-color: red;
    font-size: 30px;
}
.vtora{
    color: black;
    background-color: yellow;
    font-size: 30px;
}
.treta{
    color: black;
    background-color: gray;
    font-size: 30px;
}
.cetvrta{
    color: red;
    background-color: white;
    font-size: 30px;
}
.petta{
    color: turquoise;
    background-color: white;
    font-size: 30px;
}